<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading"></h2>

    <div class="footer-col-wrapper">

      <div class="wrapper">

        {%- if site.author -%}
          {{ site.author | escape }}
        {%- else -%}
          {{ site.title | escape }}
        {%- endif -%}
        
        &nbsp; | &nbsp;

        <a href="https://brickmmo.com">brickmmo.com</a>

        <br>

        {%- include social.html -%}

      </div>
    </div>

  </div>

</footer>
